@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "Noto Sans SC", sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
  font-family: 'Poppins', 'Noto Sans SC', sans-serif;
}

/* Material Icons */
.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}